<section>
    <div class="box mx-6 my-6">
        <p class="title has-text-centered">Your Friends</p>

        <% @friends_with_friendships.each do |friend, friendship| %>
            <div class="level">
                <div class="level-left">
                    <div class="level-item has-text-centered">
                        <p class="image is-64x64">
                            <% if friend.profile_picture.attached? %>
                                <%= image_tag(friend.profile_picture.variant(resize_to_fill: [64, 64]), class: "is-rounded") %>
                            <% else %>
                                <img src="https://bulma.io/images/placeholders/128x128.png" class="is-rounded">
                            <% end %>
                        </p>
                    </div>
                    <div class="level-item has-text-centered">
                        <p class="subtitle">
                            <%= friend.full_name %>
                        </p>
                    </div>
                </div>
                <div class="level-right">
                    <a href="<%= friendship_path(friendship) %>" data-method="delete" data-confirm="Are you sure you want to remove this user from your friends list?" class="button is-danger">
                        <span class="icon"><i class="fas fa-user-times"></i></span>
                        <span>Unfriend</span>
                    </a>
                </div>
            </div>
        <% end %>
    </div>
</section>